.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
  min-height: 10vh;
  padding-right: 15vw;
  overflow: hidden;
  border-bottom: 1px solid rgba(105, 105, 105, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  scroll-snap-align: start;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header li {
  display: inline;
  align-items: flex-end;
}

.header a {
  color: #000000;
  text-align: center;
  margin: 0 10px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

.header a:hover {
  background-color: mediumpurple;
  color: black;
}

/* Main */
.main {
  width: 100%;
  height: 100vh;

  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main article {
  width: 100%;
  min-height: 100vh;
  border-bottom: 1px solid mediumpurple;

  font-family: Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
}

.main article:first-of-type, .main article:last-of-type {
  min-height: 90vh;
}

/* Article */
    /* Main */
.main-article > h1 {
  font-family: S-CoreDream-7ExtraBold, sans-serif;
  font-size: 4em;
  margin-block-start: unset;
  margin-block-end: unset;
}
.main-article > h2 {
  font-family: S-CoreDream-7ExtraBold, sans-serif;
  font-size: 2.5em;
  margin-block-start: unset;
  margin-block-end: unset;
}

.main-article > hr {
  width: 40%;
  border: 0;
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -moz-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -ms-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -o-linear-gradient(left, whitesmoke, #777, whitesmoke);
}

    /* Skill */
/* 우선순위 적용을 위한 선택자 */
.main > .skill-article {
  justify-content: space-around;
}

.skill-article > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-article h1 {
  font-family: S-CoreDream-7ExtraBold, sans-serif;
  font-size: 4em;
  margin-block-start: unset;
  margin-block-end: unset;
}
.skill-article h2 {
  font-family: S-CoreDream-7ExtraBold, sans-serif;
  font-size: 2.5em;
  margin-block-start: unset;
  margin-block-end: unset;
}
.skill-article hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -moz-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -ms-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -o-linear-gradient(left, whitesmoke, #777, whitesmoke);
}

.skill-image {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

  /* Work */
.work-article {
}
  /* Contact */
.main > .contact-article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
  justify-content: space-around;
  grid-auto-flow: row;
  grid-gap: 2rem;
}

.contact-title {
  grid-column: 4 / span 4;
  grid-row: 2;

  text-align: center;
}

.contact-title > h1 {
  font-family: S-CoreDream-7ExtraBold, sans-serif;
  font-size: 4em;
  margin-block-start: unset;
  margin-block-end: unset;
}

.contact-title > hr {
  width: 40%;
  border: 0;
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -moz-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -ms-linear-gradient(left, whitesmoke, #777, whitesmoke);
  background-image: -o-linear-gradient(left, whitesmoke, #777, whitesmoke);
}

.contact-form {
  grid-column: 3 / span 6;
  grid-row: 3;

  width: 100%;
  height: 100%;
  background-color: mediumpurple;
  border-radius: 20px;

  display: grid;

  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 0.8fr 4fr 0.2fr;
  padding: 1.5rem;
  grid-gap: 2rem;
}
.contact-form_input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 10px;
}
textarea.contact-form_input {
  grid-column: auto / span 3;

  width: 100%;
  height: 100%;
  resize: none;
}
.contact-form_input[type=submit] {
  grid-column: auto / span 3;

  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  width: 100%;
  height: 10vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 1110px) {
  .skill-article h1 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 3em;
    margin-block-start: unset;
    margin-block-end: unset;
  }
  .skill-article h2 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 2em;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .skill-image {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact-title > h1 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 3em;
    margin-block-start: unset;
    margin-block-end: unset;
  }
}

@media (max-width: 860px) {
  .skill-article h1 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 2em;
    margin-block-start: unset;
    margin-block-end: unset;
  }
  .skill-article h2 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 1.5em;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .skill-image {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main > .contact-article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    justify-content: space-around;
    grid-auto-flow: row;
    grid-gap: 0.2rem;
  }

  .contact-title {
    grid-column: 3 / span 6;
    grid-row: 2;

    text-align: center;
  }

  .contact-title > h1 {
    font-family: S-CoreDream-7ExtraBold, sans-serif;
    font-size: 2em;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  .contact-form {
    grid-column: 3 / span 6;
    grid-row: 3;

    width: 100%;
    height: auto;
    background-color: mediumpurple;
    border-radius: 20px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 4fr 0.2fr;
  }

  textarea.contact-form_input {
    grid-column: auto;

    width: 100%;
    height: 100%;
    resize: none;
  }
  .contact-form_input[type=submit] {
    grid-column: auto;

    width: 100%;
    height: 100%;
  }
}