.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    width: 100vw;
    height: 100vh;
}

.fetch-marker {
    position: absolute;
    top: 3vh;
    left: 2vw;

    width: 20vw;
    height: 5vh;
    display: none;
    font-size: 1.4vw;
}

.search-container {
    position: absolute;
    top: 10vh;
    left: 2vw;

    width: 20vw;
    max-height: 80vh;
    overflow: auto;

    background-color: white;
    padding: 1rem;

    font-size: 1.4vw;
}

.search-data {
    border: 1px #08f solid;
    margin: 1px;
}