.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    width: 100vw;
    height: 80vh;
}

.fetch-marker {
    position: absolute;
    top: 3vh;
    left: 2vw;

    width: 20vw;
    height: 5vh;
    display: none;
}

.search-container {
    position: absolute;
    top: 10vh;
    left: 2vw;

    width: 20vw;
    max-height: 100vh;
    overflow: visible;

    background-color: white;
    padding: 1rem;
}